/************************************
ADMIN-STYLE.CSS										 

UTILITY CLASSES

CORE PLUGIN MOD: CUSTOM META BOX
EDIT.PHP

OPTIONS: TABS
OPTIONS: GENERAL OPTIONS
OPTIONS: FRAME OPTIONS
	SOCIAL LINKS
OPTIONS: APPEARANCE OPTIONS
OPTIONS: ADVANCED OPTIONS: WIDGETS MANAGER
OPTIONS: ADVANCED OPTIONS: IMPORT/EXPORT
OPTIONS: HELP OPTIONS

WIDGETS GENERAL

DYNAMIC OPTIONS
CONTEXTUAL HELP

*************************************/

/************************************
UTILITY CLASSES
*************************************/

	.float_right, .float-right { float: right; }

	.hidden { display: : none;	}

	.hint { color: #ababab;	}
	

/************************************
CORE PLUGIN MOD: CUSTOM META BOX
*************************************/

	/* COLOR BOX */ 
	#cmb_canon_pages .hndle, 
	#cmb_canon_posts .hndle,
	#cmb_canon_cpt_people .hndle,
	#cmb_cpt_project .hndle,
	#cmb_cpt_item .hndle,
	#cmb_cpt_poll .hndle,
	#cmb_tribe_events .hndle,
	#cmb_product .hndle

	{ 
		background: #dd4400;
		color: #ffffff;
		text-shadow: none;
	}

	/* CMB TRIBE EVENTS */ 
	#cmb_tribe_events select {
		width: 250px;	
	}


/************************************
EDIT.PHP
*************************************/
	
	/* custom post type category columns*/
	.edit-php .wp-list-table .column-people_category,
	.edit-php .wp-list-table .column-project_category,
	.edit-php .wp-list-table .column-item_category {
		width: 15%;	
	}



/************************************
OPTIONS: TABS
*************************************/

	.settings_tab {
		padding: 10px 20px;
		border: 1px solid #D1D1D1;
		border-bottom: none;
		float: left;
		background-color: #F7F8F8;
		cursor: pointer;
		margin-right: .2em;
		-webkit-border-radius: 3px 3px 0px 0px;
		border-radius: 3px 3px 0px 0px;	
		font-weight: bold;
		position: relative;
	}




	.settings_tab:hover {
		background-color: #e3e3e3;	
	}
	.current_tab:hover{
		background-color: #fff;
	}
	.tab_divider {
		clear: both;	
	}

	.current_tab {
		background-color: #fff;
	}
	.current_tab:after{
		background-color: #FFFFFF;
		bottom: -1px;
		content: "";
		display: block;
		height: 2px;
		left: 0;
		position: absolute;
		width: 100%;
	}
	.basic_settings {
		/*background-color: green;	*/

	}
	.tab_control hr{
		display: none;
	}
	.tab_control .tab_divider{
		border-top: 1px solid #D1D1D1;
	}


/************************************
OPTIONS: GENERAL OPTIONS
*************************************/
	
	/* logo */
	.thelogo{
		background: #ccc;
		padding: 1em;	
	}
	

	/* OPTIONS WRAPPER*/

		.options_wrapper {
			width: 800px;
		}

	/* INPUT TEXT */

		.options_wrapper input.cwa_option{
			float: none;
		}

	/* INPUT TEXT SOCIAL LINKS*/

		.social_links input[type='text'] {
			width: 370px;	
		}

	/* INPUT NUMBER */

		#footer_carousel input[type='number'] {
			width: 60px;	
		}

	/* RESET BUTTON */ 
		.button-primary.reset_button {
			background: #b21919;
			border: 1px solid #891010!important;
			-webkit-box-shadow: inset 0px 1px 0px 0px #d04d4d;
			box-shadow: inset 0px 1px 0px 0px #d04d4d;
			text-shadow: none;	
		}
		.button-primary.reset_button:hover{
			background: #c12a2a;
			border: 1px solid #891010!important;
		}
		.save_submit{
			display: inline-block;
		}
		.save_submit p{
			margin-right: 7px;
			margin-top: 0;
			display: inline-block;
			padding-top: 0;
		}
	/* UPLOAD  */

		.url {
			width: 370px;	
		}

		.upload {
			width: 190px;	
		}


/************************************
OPTIONS: FRAME OPTIONS
*************************************/

	.header-layout select {
		width: 375px;	
	}


	/************************************
	SOCIAL LINKS
	*************************************/

		.social_links ul {
			margin-top: 0;	
		}

		.social_links li {
			background-color: #eeeded;
			border: 1px solid #c2c2c2;
			padding: 10px;
		}

		.social_links .ul_del_this {
			float: right;	
		}


		.social_links i {
			border: 1px solid #dddddd;
			background-color: #ffffff;
			color: #FC604A;
			display: inline-block;
			font-size: 16px;
			text-align: center;
			height: 28px;
			width: 28px;
			line-height: 28px;
			vertical-align: top;
			margin: 1px;					/*for some reason selects and inputs have 1px margin*/
		
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;


		}


		.social_links select{
			display: inline-block;
			vertical-align: top;
		}


		.social_links input[type='text'] {
			width: 50%;	
		}

		.social_links .social_links_sortable_placeholder {
			width: 100%;	
			height: 30px;
			background-color: #eee;
			border: 1px dashed #bbb;
		}



/************************************
OPTIONS: APPEARANCE OPTIONS
*************************************/

		 .canon-options .form-table {
			margin-bottom: 20px;
			background-color: #f7f8f8;
			border: 1px solid #D1D1D1;
			-webkit-border-radius: 3px;
			border-radius: 3px;
			margin-top: 0;	
		}
		.canon-options h3{
			background-color: #f7f8f8;
			border: 1px solid #D1D1D1;
			-webkit-border-radius: 3px 3px 0px 0px;
			border-radius: 3px 3px 0px 0px;
			border-bottom: none;
			position: relative;
			top: 1px;
			margin-bottom: 0;
			display: inline-block;
			padding: 10px;	
		}
		.canon-options{
			width: 100%;
			max-width: 1200px;
		}
		h3.editor-title{
			position: relative;
			border: 1px solid #D1D1D1;
			border-bottom: none;
			top: 31px;
			z-index: 2;
			margin-top: 0;
		}
		.canon-options .quicktags-toolbar{
			border-top-left-radius: 0px;
		}
		.canon-options textarea{
			width: 100%;
		}
		select {
			
		}

		.canon_webfonts_controller select {
			width: 300px;	
		}
		
		#skins img {
			cursor: pointer;
			max-width: 80px;
			height: auto;	
		}
		
		#skins img:hover{
			opacity: .7;
		}

		.bg_pattern_picker img{
			cursor: pointer;
			padding: 2px;
			border: 1px solid #828e94;
		}

		.bg_pattern_picker img.current{
			border: 1px solid #fc604a;
		}

		#background_table select{
			width: 150px;
				
		}
		#background_table #bg_img_url {
			width: 560px;	
		}

/************************************
OPTIONS: ADVANCED OPTIONS: WIDGETS MANAGER
*************************************/

	#cwa_list li{
		border: 1px solid #d6d6d6;	
		padding: 10px;
		cursor: move;
		border-radius: 3px;
		background: #f5f5f5;
	}
	#cwa_list li:hover{
		border: 1px solid #ff6666;
	}
	#cwa_list span.cwa_del {
		float: right;
		margin-top: 7px;	
	}

	#cwa_list .cwa_sortable_placeholder {
		height: 30px;
		background-color: #eee;
		border: 1px dashed #bbb;
	}

	#cwa_template {
		display:none;	
	}
	
	#cwa_list input {
		width: 370px;	
	}

	#cwa_list span.cwa_del a {
		text-decoration: none;
		color: #ababab;
	}

	.li_option.nums{
		width: 55px;
	}
	
	
	/* 3.8 Updates */
	.canon-options .form-table tr{
		width: 100%;
	}
	.canon-options .form-table th, .canon-options .form-table td{
		padding-left: 10px;
		padding-bottom: 5px;
		padding-top: 12px;
	}
	.canon-options .form-table tr:first-child td, .canon-options .form-table tr:first-child th{
		padding-top: 25px; 	
	}
	.canon-options .form-table tr:last-child td{
		padding-bottom: 15px;
	}
	.canon-options #hp_quotes.form-table td{
		width: 80%;
	}
	.canon-options .form-table th{
		
	}
	.hooker textarea{
		max-width: 400px;
	}
	#building_stage_sortable li{
		width: 98%;
	}
	@media only screen and (max-width: 768px) {
	    .form-table td{
	    	display: inline-block;
	    }
	}

/************************************
OPTIONS: ADVANCED OPTIONS: IMPORT/EXPORT
*************************************/

.import-export .float-right {
	margin-bottom: 0;
}


/************************************
OPTIONS: HELP OPTIONS
*************************************/
	
	.tutorial_videos_container {
		width: 50%;
		margin: auto;
		margin-top: 100px;
	}


/************************************
WIDGETS GENERAL
*************************************/


	
	.widget_sortable.ui-sortable i {
		background: none repeat scroll 0 0 #FFFFFF;
		border: 1px solid #CCCCCC;
		border-radius: 3px 3px 3px 3px;
		color: #FC604A;
		display: inline-block;
		font-size: 16px;
		width: 28px;
		height: 28px;
		line-height: 28px;
		text-align: center;
		position: relative;
		top: 3px;

		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

	}

/************************************
WIDGET: STATISTICS
*************************************/

	.widget_sortable .fa_select {
		max-width: 160px;	
	}

/************************************
DYNAMIC OPTIONS
*************************************/

	.dynamic_option, .pb_dynamic_option {
		display: none;
	}
	
	
	/* Pagebuilder Modal Customs */
	.ui-widget-overlay{
		background-image: none!important;
		background: #aaa!important;
	}
	.ui-dialog .ui-dialog-content {
	    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	    border: 0 none;
	    overflow: auto;
	    padding: 0.5em 1em!important;
	    position: relative;
	}
	#dialog_add_block.ui-widget-content{
		background: #fff;
	}
	.ui-dialog{
		padding: 0.2em!important;
	}
	.ui-widget-header {
		border: 1px solid #AAAAAA;
		background-color: #CCCCCC;
	}
	.ui-widget-header .ui-dialog-title {
		text-align: left!important;
		color: #222222!important;
		font-weight: bold!important;
	}
	.wp-dialog .ui-dialog-titlebar-close:before{
		display: none;
	}
	.ui-dialog .ui-dialog-titlebar-close{
		border: 1px solid #D3D3D3!important;
	    color: #555555;
	    font-weight: normal;
		background-color: #E6E6E6!important;
	}
	.ui-dialog{
		box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.7)!important;
		border: none!important;
	}
	.ui-dialog-buttonpane{
		padding-top: 0!important;
		margin-top: 0!important;
	}
	.ui-dialog-buttonset .ui-button{
		float: right;
	}
	
	
	.block_option.name_tag{
		border: 1px dashed #ccc;
		color: #777;
	}
	.block_option.name_tag:focus{
		background: #fff;
	}	
	
	/* 3.9 Updates */
	.mce-widget.mce-btn.mce-menubtn.mce-listbox button span {
	    padding-right: 16px;
	}
	
	#update-nag, .update-nag{
		display: block;
	}
	
/************************************
CONTEXTUAL HELP
*************************************/

	.contextual-help {
		padding: 20px 10px 0;
		display: none;	
		background-color: #e6e6e6;
		overflow: hidden;
	}

	.help_item {
		margin-bottom: 25px;		
	}

	.help_item h4 {
		font-size: 1.2em;
		margin: 0 0 .5em 0;
	}

	.help_item h4 + * {
		margin-top: 0;	
	}

	.help_item > p:first-child {
		margin-top: 0;	
	}

	h3 > img {
		cursor: pointer;
		margin-left:5px;
		vertical-align:top;
	}
	h3 > img:hover {
		zoom: 1;
		filter: alpha(opacity=80);
		opacity: 0.8;
	}

