#bbpress-forums {
	
}
#bbpress-forums form{
	margin-top: 0;
}
#bbpress-forums div.bbp-search-form{
	text-align: right;
}
#bbpress-forums #bbp_search_submit{
	font-size: .7rem;
	padding: .4em 1.2em;
}
#bbpress-forums #bbp_search, .bbp-login-form .bbp-submit-wrapper #user-submit, .bbp-logged-in .button.logout-link{
	font-size: .85rem;
	padding: .4em 1.2em;
}
#bbpress-forums .bbp-forums li:before, #bbpress-forums .bbp-topics li:before, .forums.bbp-replies li:before, .bbp-search-results li:before{
	display: none;
}
#bbpress-forums .bbp-forums li.bbp-body{
	padding: 0;
}
#bbpress-forums .forum-titles li, 
#bbpress-forums .bbp-forum-info, 
#bbpress-forums .bbp-forum-topic-count, 
#bbpress-forums .bbp-forum-reply-count, 
#bbpress-forums.bbp-forum-freshness,
#bbpress-forums .bbp-topics li.bbp-body,
#bbpress-forums .bbp-topics li.bbp-footer,
#bbpress-forums .forums.bbp-replies li.bbp-header div,
#bbpress-forums .forums.bbp-replies li.bbp-footer div,
#bbpress-forums .bbp-reply-header .bbp-meta,
#bbpress-forums .forums.bbp-search-results li.bbp-header div,
#bbpress-forums .forums.bbp-search-results li.bbp-footer div {
	padding: 0!important;
	font-size: .85rem;
	font-weight: normal;
}
#bbpress-forums li{
	padding-left: 0;
} 
#bbpress-forums .bbp-forum-title, #bbpress-forums .bbp-topic-permalink{
	font-size: 1.1rem;
	font-weight: normal;
	letter-spacing: 0px;
	margin: 25px 0 .5em;
}
#bbpress-forums .bbp-forum-info .bbp-forum-content, #bbpress-forums p.bbp-topic-meta, #bbpress-forums,
#bbpress-forums ul.bbp-lead-topic, #bbpress-forums ul.bbp-topics, #bbpress-forums ul.bbp-forums, #bbpress-forums ul.bbp-replies, #bbpress-forums ul.bbp-search-results{
	font-size: 1rem;

}
#bbpress-forums li.bbp-body ul.forum, #bbpress-forums li.bbp-body ul.topic{
	padding: 1.5em 1em;
}
#bbpress-forums p.bbp-topic-meta img.avatar, #bbpress-forums ul.bbp-reply-revision-log img.avatar, #bbpress-forums ul.bbp-topic-revision-log img.avatar, #bbpress-forums div.bbp-template-notice img.avatar, #bbpress-forums .widget_display_topics img.avatar, #bbpress-forums .widget_display_replies img.avatar{
	margin-bottom: 0;
}
#bbpress-forums .bbp-reply-author a.bbp-author-name{
	margin-top: .5em!important;
}
#bbp_reply_submit, button.button{
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	padding: 0.5em .85em;
	white-space: normal;
	text-align: left;
	display: inline-block;
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
	margin-bottom: .5em;
	margin-top: 1em;
	text-decoration: none;
	background: none;
	border-style: solid;
	border-width: 2px;
	line-height: 1;
	background: none;
}
.bbp-logged-in .button.logout-link{
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	padding: 0.5em .85em;
	white-space: normal;
	text-align: left;
	display: inline-block;
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
	margin-bottom: .5em;
	margin-top: 1em;
	text-decoration: none;
	background: none;
	border-style: solid;
	border-width: 2px;
	line-height: 1;
	background: none;
	text-align: center;
}
#bbpress-forums #subscription-toggle{
	float: right;
	margin-top: 1em;
}
#bbpress-forums .bbp-topic-header .bbp-meta a.bbp-topic-permalink, #bbpress-forums .bbp-reply-content #subscription-toggle{
	margin-top: 0;
}
#bbpress-forums .bbp-topic-header .bbp-meta, #bbpress-forums .bbp-topic-header .bbp-meta a.bbp-topic-permalink, #bbpress-forums label, #bbpress-forums .bbp-pagination-count, #subscription-toggle, #favorite-toggle {
	font-size: .85rem;
}
#bbpress-forums #bbp-user-wrapper h2.entry-title, .bbp-logged-in h4{
	font-size: 1rem;
}
.bbp-pagination-links a, .bbp-pagination-links span.current, .bbp-pagination-links a:hover, .bbp-pagination-links span.current:hover{
	border: none;
	background: none;
}
.bbp-pagination-links a.next.page-numbers, .bbp-pagination-links a.prev.page-numbers{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
	font-family: 'bulletsregular';
	padding: 0 .3em;
	opacity: 1;
}
#bbp-user-navigation ul li:before{
	display: none;
}
#bbp-user-navigation ul li{
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding: 0;
}
#bbpress-forums #bbp-single-user-details #bbp-user-navigation li.current a{
	background: none;
}
#bbpress-forums #bbp-single-user-details #bbp-user-navigation a{
	padding: .75em .3em;
	font-size: .85rem;
	text-transform: uppercase;
}
#bbpress-forums h2.entry-title{
	text-transform: none;
	margin-top: 2em!important;
}
#bbpress-forums h2.entry-title:first-child{
	margin-top: 0!important;
}
.bbp-login-form label{
	width: auto;
}
.bbp-login-form .bbp-submit-wrapper{
	float: left;
}
.widget_display_stats dl dd{
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding: .5em 1em .5em 0;
}
.widget_display_stats dl dt{
	float: left;
	padding: .5em 1em .5em 0;
}
.widget_display_stats dl dt{
	clear: left;
}
.widget_display_stats dl dd{
	margin-left: 0em;
}
#bbpress-forums ul.bbp-lead-topic, #bbpress-forums ul.bbp-topics, #bbpress-forums ul.bbp-forums, #bbpress-forums ul.bbp-replies, #bbpress-forums ul.bbp-search-results, #buddypress div.item-list-tabs ul li a span{
	border-style: solid;
	border-width: 1px;
}
#bbpress-forums li.bbp-body ul.forum, #bbpress-forums li.bbp-body ul.topic, #bbpress-forums li.bbp-header, #bbpress-forums li.bbp-footer, div.bbp-forum-header, div.bbp-topic-header, div.bbp-reply-header{
	border-top-style: solid;
	border-top-width: 1px;
}

#bbpress-forums p.bbp-topic-meta img.avatar, #bbpress-forums ul.bbp-reply-revision-log img.avatar, #bbpress-forums ul.bbp-topic-revision-log img.avatar, #bbpress-forums div.bbp-template-notice img.avatar, #bbpress-forums .widget_display_topics img.avatar, #bbpress-forums .widget_display_replies img.avatar {
	border-width: 1px;
    float: none;
    display: inline-block;
    margin-bottom: 4px;
}
div.bbp-breadcrumb, div.bbp-topic-tags,
div.bbp-template-notice p{
	font-size: .85rem;
}

#bbpress-forums .bbp-forums-list li{
	font-size: .7rem;
}

.bbp-breadcrumb-sep{
	margin-right: 6px;
}
#wp-bbp_topic_content-editor-container .button:hover{
	
	border-color: #999!important;
	background: #fafafa!important;
	color: #232111!important;
}