/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active, .flexslider-quote a:active,
.flex-container a:focus, .flexslider-quote a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider, .flexslider-quote {margin: 0; padding: 0;}
.flexslider-quote blockquote, .flexslider blockquote{
	padding-left: 0;
	border: none;
}
.flexslider .slides > li, .flexslider-quote .slides > li {display: none; -webkit-backface-visibility: hidden; padding-left: 0;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides > li:first-child {display: block; -webkit-backface-visibility: visible;} 
.flexslider .slides img {max-width: 100%; display: block; margin-top: 0; height: auto; }
.flex-pauseplay span {text-transform: capitalize;}

.flexslider .slides blockquote img{
	
}
/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider, .flexslider-quote {margin: 0 0 20px;  position: relative;  zoom: 1;}
.flexslider.raveReviews, .flexslider.raveReviews blockquote{ margin: 0; }
.flexslider-quote {margin: 0 0 20px;  position: relative;  zoom: 1;}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}
.flexslider-quote, .sc_flexslider-quote{

}

.flexslider .slides li{
	padding-top: 0;
}
.flexslider li:before, .flexslider-quote li:before{
	display: none;
}
.flexslider ul, .flexslider ol, .flexslider-quote ul, .flexslider-quote ol{
	margin-left: 0;
}
.flexslider-quote cite{
	margin-bottom: 2em;
}
.sc_flexslider-quote cite{
	margin-bottom: 1.5em;
}
.carousel li {margin-right: 5px}


/* Direction Nav */
.flex-direction-nav {*height: 0; height: 0;}
ul.flex-direction-nav li{
	position: static;
}
.flexslider-quote .flex-direction-nav, .sc_flexslider-quote .flex-direction-nav{
	
}
.sc_flexslider-quote .flex-control-nav{
	bottom: -30px;
}
/*
.flex-direction-nav a { 
	margin: -20px 0 0; 
	display: block;
	position: absolute; 
	top: 45%; 
	z-index: 10; 
	cursor: pointer;  
	opacity: .6; 
	-webkit-transition: all .3s ease;
	background-color: rgba(255, 0, 0, .2);
	-webkit-border-radius: 100px;
	border-radius: 100px;
	color: #fff;
	font: 24px 'FontAwesome';
	padding: .25em .25em;
	-webkit-backface-visibility: hidden;
	text-align: center;
	width: 24px;
}
*/

.flex-direction-nav{
	opacity: 1;
	display: block;
}

.flex-direction-nav a { 
	margin: -20px 0 0; 
	display: block;
	position: absolute; 
	top: 45%; 
	z-index: 10; 
	cursor: pointer;  
	opacity: 1; 
	-webkit-transition: all .3s ease;
	color: #fff;
	font: 24px 'FontAwesome';
	padding: .25em .25em;
	-webkit-backface-visibility: hidden;
	text-align: center;
	width: 24px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}

.flex-direction-nav .flex-next { 
	right: 0px;
	-webkit-backface-visibility: hidden;
}
.flex-direction-nav .flex-prev {
	left: 0px;
	-webkit-backface-visibility: hidden; 
}
.flexslider:hover .flex-next {right: 0px;}
.flexslider:hover .flex-prev { left: 0px;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: 30px; text-align: center; margin-bottom: 0px!important;}
.flexslider-quote .flex-control-nav {width: 100%; position: absolute; bottom: -10px; text-align: center;}
.flex-control-nav li {margin: 2px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 12px; height: 12px; display: block; background: #666; background: rgba(150,150,150,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; }
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}


.flexslider-quote blockquote{
	margin-bottom: 1em;
}
.flexslider-quote cite{
	display: inline;
	margin-bottom: 1em;
	margin-top: .5em;
}
.flexslider-quote{
	padding-bottom: 10px;
}

.flexslider-menu .flex-control-nav{
	bottom: -50px;
}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {opacity: 1; left: 8px;}
  .flex-direction-nav .flex-next {opacity: 1; right: 8px;  }
}