/* ==========================================================================
   Responsive Options
   ========================================================================== */
   
   
/* Responsive Boxed Version  
body{ padding-top: 0; }
.outter-wrapper{ max-width: 1440px; width: auto;}
.wrapper { max-width: 1140px; width: auto;}
.feature hr{ opacity: .4; }
*/



/* Responsive Full Width Version */
body{ padding: 0em; }
.outter-wrapper{ max-width: 100%; width: 100%;}
.wrapper { max-width: 1140px; width: auto;}




/* ==========================================================================
   Media Queries 768
   ========================================================================== */
   
@media only screen and (max-width: 768px) {
	
	body{
		padding: 0;	
	}
	
	.logo{
		padding-bottom: 1em;
		padding-top: 1em;	
	}
	
	.logo-text{
		margin-top: .4em;
		margin-bottom: .5em;
	}
   	
	.mobile-header, .menuHideBtn {
	    display: block;
	}
	
	#nav-wrap{
		display: none;
	}
	
	#nav-wrap {
		position: relative;
		padding-bottom: .4em;
		z-index: 99999;
	}
	
	.primary_menu li.nav-parent{
		padding-bottom: 0;
	}
	
	#menu-icon {
		display: inline-block;
		cursor: pointer!important;
		padding: 6px 10px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		position: relative;
		top: 6px;
	}
	
	#menu-icon.active{
		-webkit-border-radius: 3px 3px 0px 0px;
		border-radius: 3px 3px 0px 0px;
	}
	
	nav .primary_menu{
		margin-top: 0;
	}
	
	.left #primary_menu{
		left: 0;
	}
	
	.right #primary_menu{
		right: 0;
	}
	
	.primary_menu li {
		clear: both;
		float: none;
	}
	
	#primary_menu a, 
	#primary_menu ul a {
		background-color: none;
		display: inline;
		padding: 0;
		border: none;
	}
	
	.primary_menu ul {
		width: auto;
		position: static;
		display: block;
		border: none;
		background: inherit;
		-webkit-box-shadow:  none;
		box-shadow:  none;
	}
	
	.primary_menu ul li a{
		padding-left: 0;
	}
	
	.primary_menu li{
		padding: .2em 0!important;
	}
	
	.primary_menu ul{
		padding: 0!important;
	}
	
	.primary_menu li > ul li{
		padding-left: 12px!important;
	}
	
	.primary_menu li > ul li:last-child{
		padding-bottom: 0!important;
	}
	
	.primary_menu li:hover ul ul{
		display: block!important;
		position: relative;
		left: 0;
		background: transparent!important;
	}
	
	.primary_menu li:hover ul ul:before{
		display: none;
	}
	
	.primary_menu li > ul > li{
		margin-left: -12px;
	}
	
	.primary_menu li > ul > li a{
		padding-left: 25px!important;
	}
	
	.primary_menu li > ul > li.fa > a{
		padding-left: 10px!important;
	}
	
	.primary_menu li > ul > li:before{
		padding-left: 10px;
	}
	
	.primary_menu li > ul > li > ul > li a{
		padding-left: 35px!important;
	}
	
	.donate, .primary_menu .donate a:hover{ 
		background: transparent!important;
	}
	
	#masthead{
		display: block;
		height: 100%;
	}
	
	.header-container header{
		padding: 10px 0 5px;
	} 
	
	.main-content, 
	.right-aside, 
	.main-content, 
	.left-aside.last,
	.three-fourths.left-main-content,  
	.tt_event_page_left, 
	.tt_event_page_right {
		width: 100%;
		float: none;
		border: none;
		padding-left: 0;
		padding-right: 0;
	}
	
	.tribe-single-event-info,
	.tribe-single-event-main{
		width: 100%;
		float: none;
	}
	
	.tt_event_hours li{
		width: 100%;
		float: none;
		-webkit-box-sizing: border-box; 
		-moz-box-sizing: border-box; 
		box-sizing: border-box;
	}
	
	.right-aside, .left-aside.last{
		border-top: 1px solid #cad2d7;
		margin-top: 25px; 
	}
	
	.left-aside.last{
		clear: both;
	}
	
	.right-aside .half, 
	.clearfix.gallery .half, 
	.clearfix.gallery .fourth,
	.left-aside.last .half{
		width: 49%;
		margin-right: 2%;
		float: left;
	}
	
	.last-fold{
		margin-right: 0!important;	
	}
	
	blockquote.third, 
	blockquote.half, 
	blockquote.fourths, 
	blockquote.two-third{
		width: 100%;
	}
	
	blockquote, blockquote.right, blockquote.left{
		margin: 1em 0;
	}
	
	ul.archive li{
		min-width: 28%;
	}
	
	.foot.left, 
	.foot.right{
		display: block;
		text-align: center;
		margin-bottom: 20px;
	}
	
	ul.social-link li{
		border: none;
	}
		
	h6.tags.right, 
	h6.date.left{
		float: none!important;
	}
	
	ul.sitemap{
		display: inline;
		width: 100%;
	}
	
	ul.sitemap li{
		display: block;
		padding-left: 0;
		padding: 1px;
	}
	
	.price-feature{
		top: 0;
	}
		
	/* Price Alt */
	.price-table{
		margin-bottom: 0;
		margin-top: 1.5em;	
	}
	
	.price-cell{
		display: block;
		border-right: none;
		border-bottom-style: solid;
		border-bottom-width: 1px;
	}
	
	.price-cell:first-child, 
	.price-cell:last-child{
		min-width: 100%;
	}
	
	.price-cell:after{
		right: 48%;
		top: 106%;
		padding-left: 5px;
		padding-right: 5px;
	}
	
	.icon-thirds li{
		width: 48%;
	}
	
	.tab-nav {
		display: none;
	}
	
	h3.v_nav {
		height:45px;
		line-height:45px;
		margin: 0;
		padding: 0;
		text-align:center;
		margin-top: 1px;
		display: block;
		cursor: pointer;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		 -khtml-user-select: none;
		   -moz-user-select: none;
			-ms-user-select: none;
				user-select: none;
		border-bottom-style: solid;
		border-bottom-width: 1px;		
	}
		
	.tab-content-block {
		clear:both;
		position:relative;
		width: 100%;
		background: #fff;
		border-style: solid;
		border-width: 1px;
	}
	
	h3.v_nav:first-child {
		margin-top: 0;
	}
	
	h3.v_active {
		background: #FBFBFB;
		z-index:50;
	}
	
	hr{
		margin: 1.75em 0;
	}
	
	ul.timeline{
		width: 98%;
		padding-left: 2%;
	}
	
	ul.timeline > li{
		width: 100%;
		float: none!important;
	}
	
	ul.timeline > li .mejs-container{
		max-width: 100%;
		max-height: 100%;
	}
	
	.vert-line{
		left: 1px;
	}
	
	ul.timeline > li:nth-child(2n+1):before{
		border-color:#fff #e2e2e2 #fff #fff!important;
		left: -14px;
		right: 100%;
	}
	

	/* Price Alt */
	.price-cell{
		display: block;
		border-right: none;
		border-bottom-style: dashed;
		border-bottom-width: 1px;
	}
	
	.price-cell.feature, 
	.download-table .price-cell.feature{
		min-width: 100%;
	}
	
	.inwrap{
		min-height: none;
	}
	
	.inwrap:after{
		left: 0%;
		margin-left: -30px;
		bottom: -47px!important;
	}
	
	.pb_featured_posts .recentwork, 
	.pb_widgets{
		padding-bottom: 0;
	}

	#primary_menu li.flag{
		padding-left: 25px!important;
		background-size: 18px ;
		background-repeat: no-repeat;
		background-position: 0 8px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	
	#primary_menu li.flag li.flag{
		background-position: 0px 8px;
		padding-left: 25px!important;
	}
	
	#primary_menu li.flag ul{
		margin-left: -15px;
	}
	
	aside.right-aside, aside.left-aside.last{
		margin-bottom: 2em;
		padding-bottom: 1em;
	}
	
	aside.left-aside.fifth{
		padding-bottom: 2em;
	}
	
	.main ul.meta.blogPost{
		margin-top: 1em;
	}
			
	.sticky-header-wrapper .countdown_section {
		float: none;
		display: table-cell!important;
	}
	
	.sticky-header-wrapper .countdown_section *,
	.sticky-header-wrapper .countdown_amount {
		display: inline-block!important;
		float: left;
	}


	/* Pre Menu Options */
	.pre-header-container, 
	.post-header-container .post-header{
		text-align: center;
	}
	
	.pre-header.left, 
	.pre-header.right, 
	.post-header.left, 
	.post-header.right, 
	.post-header-container ul.social-link li{
		float: none;
	}
	
	.pre-header-container .header_text, 
	.post-header-container .header_text{
		text-align: center;
		display: block;
	}
	
	.pre-header-container .header_text ul, 
	.pre-header-container .social-link, 
	.pre-header-container .header_toolbar,
	.post-header-container .header_text ul, 
	.post-header-container .social-link, 
	.post-header-container .header_toolbar  {
		display: block;
	}
	
	.pre-header-container .header_text *, 
	.pre-header-container .social-link li, 
	.pre-header-container .header_toolbar li,
	.post-header-container .header_text *, 
	.post-header-container .social-link li, 
	.post-header-container .header_toolbar li{
		display: inline;
		float: none;
	}
	
	.pre-header-container li,
	.post-header-container .post-header li{
		border-right: none;
	}
	
	.pre-header-container .header_text li, 
	.pre-header-container .secondary_menu li a,
	.post-header-container .post-header .header_text li, 
	.post-header-container .secondary_menu li a{
		border-right: 1px solid rgba(255, 255, 255, 0.1);
		padding-right: .75em!important;
		padding-left: .75em!important;
		margin: 0!important;
	}
	
	.post-header.right ul.header_toolbar{
		padding-top: .75em;
		padding-bottom: .95em;
	}
	
	.pre-header-container ul > li:last-child, 
	.pre-header-container ul.secondary_menu > li:last-child a,
	.post-header-container ul > li:last-child, 
	.post-header-container ul.secondary_menu > li:last-child a{
		border-right: none;
	}
	
	.pre-header-container ul > li{
		border: none;
	}
	
	.pre-header.right > div.header_text, 
	.pre-header.right ul.secondary_menu, 
	.pre-header.right ul.social-link,
	.post-header.right > div.header_text, 
	.post-header.right ul.secondary_menu,  
	.post-header.right ul.social-link, 
	.post-header.right ul.header_toolbar{
		border-top: 1px solid rgba(255, 255, 255, 0.1);
	}
	
	.pre-header-container .right > div.header_text ul,
	.post-header.right > div.header_text ul{
		border: none;
	}
	
	.pre-header-container ul:before,
	.post-header-container ul:before,
	.post-header-container ul.nav > li:after, 
	.post-header-container ul.social-link > li:after{
		display: none!important;
	}
	
	.pre-header-container .secondary_menu *, 
	.pre-header-container .secondary_menu li:hover ul ul,
	.pre-header-container ul.sub-menu, 
	.pre-header-container li:hover ul.sub-menu,
	.post-header-container .secondary_menu *, 
	.post-header-container .secondary_menu li:hover ul ul{
		float: none!important;
		position: relative!important;
		display: inline!important;
		background: transparent!important;
		left: 0!important;
		top: 0!important;
		padding: 0!important;
		margin: 0!important;
	}
	
	.pre-header-container #nav-wrap #menu-icon,
	.post-header-container #nav-wrap #menu-icon{
		border-radius: 3px;
		cursor: pointer;
	    padding: 0px 10px;
	    position: relative;
	    top: 3px;
	    width: 100%;
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	    font-size: 14px;
	}
	
	.post-header-container #nav-wrap #menu-icon{
		padding: 6px 10px;
	}
	
	.post-header-container .post-header #nav-wrap{
		margin-top: 10px;
	}
	
	.post-header-container .centered #nav-wrap #menu-icon{
		margin-bottom: 10px;
	}
	
	.post-header-container #nav-wrap li{
		display: block;
		text-align: center;
		margin-right: 0;
	}
	
	.post-header-container #nav-wrap li ul{
		margin-left: 0;
	}
	
	.pre-header-container #nav-wrap,
	.post-header-container #nav-wrap{
		padding-bottom: 1.4em;
	}
	
	.post-header-container .centered #nav-wrap{
		padding-bottom: 10px;
	}
	
	.pre-header-container #primary_menu,
	.post-header-container #primary_menu{
		padding-left: 3%!important;
		padding-right: 3%!important;
		width: 100%!important;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		left: 0;
		top: 35px;
		-webkit-border-radius: 0px 0px 3px 3px;
		border-radius: 0px 0px 3px 3px;
	}
	
	.pre-header-container #primary_menu ul.sub-menu > li{
		text-align: center;
	}
	
	.pre-header-container .primary_menu li, 
	.pre-header-container  .primary_menu ul,
	.post-header-container .post-header .primary_menu li, 
	.post-header-container .post-header .primary_menu ul{
		padding: 0!important;
		margin: 0!important;
		line-height: 24px!important;
	}
	
	.pre-header-container .primary_menu li.flag, 
	.pre-header-container .primary_menu li.flag li.flag, 
	.post-header-container .nav li.flag, 
	.header-container .centered .nav li.flag {
		padding-left: 0px!important;
		background-image: none;
	}
	
	.pre-header-container .nav li.fa:before{
		display: inline-block;
		padding-right: 0em;
	}
	
	.post-header.right .nav{
		padding-bottom: .5em;
	}
	
	.post-header ul.secondary_menu{
		padding-top: .5em;
		padding-bottom: .5em;
	}
	
	.main-header #nav-wrap{
		margin-top: 5px;
	}
	
	.post-header-container .centered #primary_nav {
	    -moz-box-sizing: border-box;
	    border-radius: 0 0 3px 3px;
	    left: 0;
	    padding-left: 3% !important;
	    padding-right: 3% !important;
	    top: 35px;
	    width: 100% !important;
	}
	
	.main-header .nav li.fa:before, 
	.header-container .centered .nav li.fa:before,
	.post-header-container .nav li.fa:before{
		display: inline-block;
		padding-right: .5em;
		margin-left: -.9em;
	}
	
	.post-header #nav-wrap .nav{
		text-align: center;
	}
	
	.post-header #nav-wrap .nav li{
		display: block;
		text-align: center;
		width: 100%;
	}
	
	.post-header-container #primary_menu li.flag, 
	.post-header-container #primary_menu li.flag li.flag{
		padding-left: 0!important;
	}
	
	.pre-header-container .centered #primary_menu > li{
		display: block;
	}
	
	.pre-header-container #nav-wrap{
		margin-top: 5px;
	}
	
	.header-container .centered #nav-wrap, 
	.header-container .centered #menu-icon{
		width: 100%!important;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		display: block;
		margin-bottom: 5px;
	}
	
	.post-header-container .centered #nav-wrap{
		margin-top: 10px;
	}
	
	.header-container .centered #primary_menu,
	.post-header-container .centered #primary_menu {
		width: 100%!important;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	
	.header-container .centered #primary_menu li{
		display: block;
	}
	
	.header-container .centered #primary_menu > li ul li{
		text-align: center;
	}
	
	.header-container .centered #primary_menu li.flag ul{
		margin-left: 0;
	}
	
	.post-header-container .post-header .header_text li:last-child, 
	.post-header-container .header_text li:after{
		border: none;
	}
	
	.pre-header-container .centered ul.nav li ul li{
		text-align: center;
	}
	
	.post-header-container #primary_menu *{
		padding: 0!important;
		margin: 0!important;
		line-height: 28px;
	}
	
	.pre-header-container .nav li.flag, 
	.pre-header-container .nav li.flag li.flag, 
	.pre-header-container .nav li li.flag{
		padding-left: 0!important;
	}
		
	.header-container .main-header *{
		padding-top: 0!important;
		padding-bottom: 0!important;
	}
	
	.pre-header.left + .pre-header.right{
		padding-top: 5px;
	}	
			
	
	.mobile-view{
		display: block;
		font-weight: bold;
	}
	
	ul.pb-block-schedule-head{
		display: none;
	}
	
	ul.pb-block-schedule{
		margin-top: 2em;
	}
	
	.pb-block-schedule > li > ul > li{
		display: block;
		width: 100%!important;
		padding: .2em 0!important;
	}
	
	.pb-block-schedule > li > ul{
		padding: 1.5em 0em!important;
		margin: 0!important;
	}
	
	ul.pb-block-schedule > li:first-child > ul{
		border-top-style: solid;
		border-top-width: 1px;
	}
	
	.pb-block-schedule > li > ul > li > div{
		display: inline-block;
	}
	
	ul.pb-block-schedule > li > ul > li img{
		max-width: 120px;
		float: right;
		margin-right: 0em;
		margin-left: 1em;
	}
	
	.main-content.three-fourths .tribe-events-loop .fourth,
	.main-content.three-fourths .tribe-events-loop .fourth + .fourth{
		width: 100%;
		margin-right: 0%;
	}
	
	
	.main-container .countdown_show1,
	.main-container .countdown_show2,
	.main-container .countdown_show3,
	.main-container .countdown_show4,
	.main-container .countdown_show5,
	.main-container .countdown_show6,
	.main-container .countdown_show7,
	.countdown_descr{
		width: 100%;
		float: none;
		text-align: center;
		display: block;
	}
	
	.main-container .countdown_show1 .countdown_section {
		width: 98%;
	}
	.main-container .countdown_show2 .countdown_section {
		width: 48%;
	}
	.main-container .countdown_show3 .countdown_section {
		width: 32.5%;
	}
	.main-container .countdown_show4 .countdown_section {
		width: 24.5%;
	}
	.main-container .countdown_show5 .countdown_section {
		width: 19.5%;
	}
	.main-container .countdown_show6 .countdown_section {
		width: 16.25%;
	}
	.main-container .countdown_show7 .countdown_section {
		width: 14%;
	}
					
 }
 




/* ==========================================================================
   Media Queries 600
   ========================================================================== */
   
@media only screen and (max-width: 600px) { 
	
	.third, 
	.half, 
	.fourth, 
	.two-thirds,
	.three-fourths,
	.fifth, 
	.two-fifths, 
	.three-fifths, 
	.four-fifths,
	.half + .fourth,
	.fourth + .fourth + .half,
	.third + .two-thirds,
	.fifth + .four-fifths,
	 ol.icon-lists li, 
	 ul.flag-lists li,  
	 .foot.left, 
	 .foot.right, 
	 input.half,
	 input.third,  
	 input.full,  
	 .left, 
	 .right,
	 .cta.two-third {
		width: 100%;
		margin-right: 0%;
		float: none;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
	}
	
	.main-header.right{
		float: right;
		width: auto;
	}
	
	.main-header.left .logo, 
	.main-header.right .logo{
		float: none;
	}
	
	.main-header.right > div.header_text, 
	.main-header.right ul.secondary_menu, 
	.main-header.right ul.social-link, 
	.main-header.right ul.header_toolbar, 
	.main-header.right #header_logo {
		border-top: 1px solid rgba(255, 255, 255, 0.1);
		padding-top: 5px!important;
	}
	
	.main-header.left + .main-header.right{
		margin-top: 10px;
	}
	
	.main-header div.header_text *{
		text-align: center;
		float: none;
	}
	
	.main-header.left, 
	.main-header.right{
		top: 0!important;
		left: 0!important;
		float: none;
		text-align: center;
	}
	
	
	.third, 
	.half, 
	.fourth, 
	.two-thirds,
	.three-fourths,
	.fifth, 
	.two-fifths, 
	.three-fifths, 
	.four-fifths {
		margin-bottom: 30px;
	}
	
	ul.gform_fields > li.half, 
	ul.gform_fields > li.third, 
	ul.gform_fields > li.fourth, 
	ul.gform_fields > li.fifth{
		margin-bottom: 0;
	}
	
	.backstretch{
		opacity: 0.2;
	}
	
	.main table{ 
		border-left: 1px solid #cad2d7;
		border-right: 1px solid #cad2d7;
		border-top: none;
		border-bottom: none;
	}
	
	.text-seperator.gal-sep *{
		display: inline-block;
	}
	
	.text-seperator.gal-sep .isotope_filter_menu{
		float: left;
		padding-left: 0;
	}
		
	.text-seperator .isotope_filter_menu li{
		float: left;
	}
	
	.widget-footer .widget{
		margin-bottom: 30px;
		padding-bottom: 30px;
		border-bottom-style: solid;
		border-bottom-width: 3px;
		border-right: none;
	}
	
	.widget-footer .last .widget{
		border: none;
		margin-bottom: 0;
		padding-bottom: 0;
	}
	
	.pb_tabs ul.block-tabs {
		display: inline;	
		width: 100%;
	}
	
	.pb_tabs ul.block-tabs li {
		display: block;
	}
	
	.search-header-container header form#searchform input{
		font-size: 1.25rem;
	}
	
	.pb_tabs .wrapper{
		padding-left: 0;
		padding-right: 0;
	}
	
	
	
}










/* ==========================================================================
   Media Queries 480
   ========================================================================== */
   
@media only screen and (max-width: 480px) { 
	
	 input[type=text],  
	 input[type=email], 
	 input[type=password], 
	 textarea, 
	 a.btn, 
	 input[type=button], 
	 input[type=submit]{
		width: 100%;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
	}
	
	a.btn, 
	input[type=button]{
		text-align: center;
	}
	
	a.small-btn{
		font-size: 14px;
		padding: .4em 2%;
	}
	
	a.xsmall-btn{
		font-size: 12px;
		padding: .2em 2%;
	}
	
	iframe{
		max-height: 320px;
	}
	
	.header-container header{
		text-align: center;
	}
	
	.logo, 
	.logo-text{
		float: none;
	}
	
	.header-container nav{
		float: none;	
	}
	
	#nav{
		padding-left: 3%!important;
		padding-right: 3%!important;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		width: 100%!important;
		left: 0;
		top: 35px;
		-webkit-border-radius: 0px 0px 3px 3px;
		border-radius: 0px 0px 3px 3px;
	}
	
	.hide-480{
		display: none;
	}
	
	.page-template-page-gallery-php .thumb-gallery .half,
	.pb_gallery_preview .thumb-gallery .half,
	.thumb-portfolio .gallery_item.half,
	.page-template-page-gallery-php .thumb-gallery .third,
	.pb_gallery_preview .thumb-gallery .third,
	.thumb-portfolio .gallery_item.third,
	.page-template-page-gallery-php .thumb-gallery .fourth,
	.pb_gallery_preview .thumb-gallery .fourth,
	.thumb-portfolio .gallery_item.fourth,
	.page-template-page-gallery-php .thumb-gallery .fifth,
	.pb_gallery_preview .thumb-gallery .fifth,
	.thumb-portfolio .gallery_item.fifth,
	.thumb-gallery .third,
	
	.is-full.pb_gallery .half,
	.is-full.pb_gallery .third,
	.is-full.pb_gallery .fourth,
	.is-full.pb_gallery .fifth{
		width: 100%;
	}
	
	.icon-thirds li{
		width: 100%;
		float: none;
	}
	
	ul.timeline > li:before, 
	.vert-line{
		display: none;
	}
	
	ul.timeline{
		width: 100%;
		padding-left: 0;
	}

	
	.hasCountdown .countdown_section{
		float: none;
		width: 100%!important;
		margin-bottom: 1em;
	}
	
	#nav li.flag, 
	#nav li.flag li.flag{
		padding-left: 0px!important;
		background-image: none;
	}
	
	#nav li.flag ul{
		margin-left: 0px;
	}
	
	.primary_menu li > ul > li{
		margin-left: -12px;
	}
	
	.primary_menu li > ul > li a{
		padding-left: 25px!important;
	}
	
	.primary_menu li > ul > li.fa > a{
		padding-left: 10px!important;
	}
	
	.primary_menu li > ul > li:before{
		padding-left: 10px;
	}
	
	.primary_menu li > ul > li > ul > li a{
		padding-left: 35px!important;
	}

	#primary_menu li.flag, 
	#primary_menu li.flag li.flag{
		background: none!important;
		padding-left: 0!important;
	}
	
	.main-header div.header_text *{
		text-align: center;
		float: none;
	}
	
	.main-header .header_text *, 
	.main-header .social-link li, 
	.main-header .header_toolbar li{
		display: inline;
		float: none;
	}
	
	.main-header .header_toolbar{
		padding-top: .75em;
		padding-bottom: .95em;
	}
	
	.main-header .secondary_menu *, 
	.main-header .secondary_menu li:hover ul ul{
		float: none!important;
		position: relative!important;
		display: inline!important;
		background: transparent!important;
		left: 0!important;
		top: 0!important;
		padding: 0!important;
		margin: 0!important;
		line-height: 34px!important;
	}
	
	.main-header .header_text li, 
	.main-header .secondary_menu li a{
		border-right: 1px solid rgba(255, 255, 255, 0.1);
		padding-right: .75em!important;
		padding-left: .75em!important;
		margin: 0!important;
	}
	
	.main-header nav{
		float: none;
	}
	
	.main-header ul > li:last-child, 
	.main-header ul.secondary_menu > li:last-child a{
		border-right: none;
	}
	
	.main-header ul:before,
	.main-header ul:before,
	.main-header ul.nav > li:after, 
	.main-header ul.social-link > li:after{
		display: none!important;
	}
	
	.main-header ul.secondary_menu{
		padding-top: .5em;
		padding-bottom: .5em;
	}
	
	.main-header #nav-wrap{
		padding-bottom: 1.4em;
	}
	
	#menu-icon{
		display: block!important;
		padding-left: 3%!important;
		padding-right: 3%!important;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		width: 100%!important;
	}
	
	.main-header #nav-wrap .nav{
		text-align: center;
	}
	
	.main-header #nav-wrap .nav li{
		display: block;
		text-align: center;
	}
	
	.post-header #primary_menu li.fa:before{
		display: inline-block;
		padding-right: .5em;
		margin-left: -.9em;
	}
	
	.media_image {
		float: none;
		max-width: 100%;
		margin-right: 0;		
	
	}
	
	.media_description{
		max-width: 100%;
	}
	
	.media_links { 
		float: none;
		width: 100%;
		margin-bottom: 1em;	
	}
	
	.main-header.right{
		top: 0!important;
	}
	
	.sticky-header-wrapper .hasCountdown{
		width: 100%;
	}
	
	.sticky-header-wrapper .countdown_section {
		float: none;
		width: 25%!important;
	}
	
	.sticky-header-wrapper .countdown_section *,
	.sticky-header-wrapper .countdown_amount {
		display: block!important;
		float: none;
		
	}
	
	.search-header-container .widgets-area,
	.search-header-container .search-area{
		padding-left: 0;
		padding-right: 0;
	}
	
	.search_controls li.search_control_close{
		right: 0;
	}
	
	.comments div.left{
		float: none;
		text-align: center;
		padding: 0!important;
	}
	
	.comment-reply-link, .comment-edit-link, #cancel-comment-reply-link{
		float: none;
		padding-left: 5px;
		padding-right: 5px;
	}
	
	.comment-reply-link:before, .comment-edit-link:before, #cancel-comment-reply-link:before{
		display: none;
	}
	
	ul.comments h6{
		margin-left: 0;
		margin-bottom: .5em;
	}
	ul.comments h6:after{
		content: "";
		display: block;
		position: relative;
		padding-bottom: 10px;
	}
	
	ul.comments li div{
		text-align: center;
		padding-left: 0!important;
	}
	
	.poll-go-result-btn{
		float: none;
	}
}







 
/* ==========================================================================
   Media Queries 1140
   ========================================================================== */  
@media only screen and (max-width: 1140px) {
	
	.wrapper { 
		width: 100%; 
	}

}






/* ==========================================================================
   WOO-Commerece Styles
   ========================================================================== */  
   
@media only screen and (max-width: 768px) {
	
	.woocommerce .col2-set .col-1, 
	.woocommerce-page .col2-set .col-1, 
	.woocommerce .col2-set .col-2, 
	.woocommerce-page .col2-set .col-2, 
	.woocommerce .cart-collaterals .cart_totals, 
	.woocommerce-page .cart-collaterals .cart_totals, 
	.woocommerce form .form-row-first, 
	.woocommerce form .form-row-last, 
	.woocommerce-page form .form-row-first, 
	.woocommerce-page form .form-row-last, 
	.woocommerce .cart-collaterals .cart_totals, 
	.woocommerce-page .cart-collaterals .cart_totals{
		width: 100%;
		float: none;
		text-align: left;
	}
	
	

}
@media only screen and (max-width: 600px) {

	.woocommerce ul.products li.product, 
	.woocommerce-page ul.products li.product, 
	.woocommerce div.product div.summary, 
	.woocommerce #content div.product div.summary, 
	.woocommerce-page div.product div.summary, 
	.woocommerce-page #content div.product div.summary, 
	.woocommerce .related ul.products li.product, 
	.woocommerce .related ul li.product, 
	.woocommerce .upsells.products ul.products li.product, 
	.woocommerce .upsells.products ul li.product, 
	.woocommerce-page .related ul.products li.product, 
	.woocommerce-page .related ul li.product, 
	.woocommerce-page .upsells.products ul.products li.product, 
	.woocommerce-page .upsells.products ul li.product, 
	.related.products ul.products li, 
	.upsells.products ul.products li, 
	.woocommerce div.product div.images, 
	.woocommerce #content div.product div.images, 
	.woocommerce-page div.product div.images, 
	.woocommerce-page #content div.product div.images,
	.tribe-single-event-ticket-section p.product.woocommerce.add_to_cart_inline{
		width: 100%!important;
		margin: 1em 0% 1em 0!important;
	}
	
	.woocommerce div.product div.images, 
	.woocommerce #content div.product div.images, 
	.woocommerce-page div.product div.images, 
	.woocommerce-page #content div.product div.images{
		margin-top: 0!important;
	}
	
	.shop_table.cart .product-thumbnail, 
	.shop_table.cart .product-remove{
		display: none;
	}
	
	table.shop_table.cart td{
		padding-right: 3px;
		padding-left: 3px;
	}
	
	.woocommerce div.product .woocommerce-tabs ul.tabs li{
		width: 100%;
		text-align: center;
		padding-left: 0;
		-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
		margin-bottom: .3em;
	}
	
	.woocommerce div.product .woocommerce-tabs ul.tabs, 
	.woocommerce div.product .woocommerce-tabs ul.tabs:before, 
	.woocommerce #content div.product .woocommerce-tabs ul.tabs:before, 
	.woocommerce-page div.product .woocommerce-tabs ul.tabs:before, 
	.woocommerce-page #content div.product .woocommerce-tabs ul.tabs:before {
		border-bottom-width: 0!important;
	}
	
	.woocommerce .product .onsale{
		left: 10px;
		top: 28px;
	}
	
	.woocommerce .cart-collaterals .cross-sells, 
	.woocommerce-page .cart-collaterals .cross-sells, 
	.woocommerce .related ul.products li.product{
		float: none!important;
		width: 100%!important;
	} 
	
	.woocommerce .star-rating, 
	.woocommerce-page .star-rating{
		float: none!important;
	}
	
	.woocommerce table.cart td.actions .coupon, 
	.woocommerce #content table.cart td.actions .coupon, 
	.woocommerce-page table.cart td.actions .coupon, 
	.woocommerce-page #content table.cart td.actions .coupon, 
	.woocommerce table.cart td.actions .button.alt, 
	.woocommerce #content table.cart td.actions .button.alt, 
	.woocommerce-page table.cart td.actions .button.alt, 
	.woocommerce-page #content table.cart td.actions .button.alt{
		float: none;
	}
	
	.woocommerce table.cart td.actions, 
	.woocommerce #content table.cart td.actions, 
	.woocommerce-page table.cart td.actions, 
	.woocommerce-page #content table.cart td.actions{
		text-align: center;
	}
	
	input#coupon_code{
		-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
		float: none!important;
		width: 100%;
		display: inline;
	}
	
	.shop_table.cart .coupon + .button,
	.shop_table.cart td.actions input.button{
		float: none!important;
		width: 100%;
	}
	
}













/* ==========================================================================
   Events Calender Styles
   ========================================================================== */

@media only screen and (max-width: 768px) { 

	.events-gridview #tribe-events-header, 
	.single-tribe_events #tribe-events-header{
		position: relative;
		top: 0px;
	}
	
	.events-gridview .main #tribe-events-content ul.tribe-events-sub-nav li, 
	.events-gridview .main #tribe-events-content ul.tribe-events-sub-nav, 
	.single-tribe_events .main #tribe-events-content ul.tribe-events-sub-nav li, 
	.single-tribe_events .main #tribe-events-content ul.tribe-events-sub-nav{
		text-align: left;
	}
	
	.single-tribe_events .tribe-events-meta-group, 
	.single-tribe_events .tribe-events-venue-map,
	.tribe-events-event-image img,
	.tribe-events-loop .fourth,
	.tribe-events-loop .half{
		float: none;
		width: 100%!important;
	}
	
	#tribe-events-content.tribe-events-list, 
	#tribe-events-content{
		margin-bottom: 0px;
	}
	
	#tribe-mobile-container{
	    display: block;
	}
	
	.tribe-events-calendar td .tribe-events-viewmore, 
	.tribe-events-calendar td div.type-tribe_events {
	    display: none!important;
	}
	
	#tribe-events-content .tribe-events-calendar td{
		height: auto;
		text-align: center;
	}
	
	.tribe-events-calendar .tribe-events-has-events:after {
	    border-radius: 50%;
	    content: "";
	    display: block;
	    height: 8px;
	    margin: 5px auto;
	    padding: 0;
	    width: 8px;
	}
	
	.tribe-events-mobile.hentry.vevent{
		margin-bottom: 1em;
		padding-bottom: 1em;
		border-bottom-style: solid;
		border-bottom-width: 1px;
		
	}
	
	.tribe-bar-filters-inner > div{
		display: block;
		width: 100%;
		padding-right: 0;
	}
	
	.tribe-bar-submit{
		   	position: relative;
		   	left: 0px;
		   	top: 0px;
	}
	
	.tribe-bar-filters-inner{
			padding-right: 0;
	}
	
	ul.tribe-bar-views-list{
		border: none!important;
		padding: 1px!important;
	}
	
	ul.tribe-bar-views-list li{
		display: block;
	}
	
	.tribe-events-map .tribe-events-event-image,
	.tribe-events-map .tribe-events-loop > div:first-child .tribe-events-event-image{
		max-width: 100%;
		width: 100%;
		position: relative!important;
			left: 0;
			top: 0;
	}
	
	.tribe-events-map .tribe-events-event-meta,
	.tribe-events-map .tribe-events-map-event-description{
		padding-left: 0%!important;
		-webkit-box-sizing: border-box; 
		-moz-box-sizing: border-box; 
		box-sizing: border-box;
	}
	
}



   
   
@media only screen and (max-width: 600px) {   
   .tribe-bar-date-filter, 
   .tribe-bar-search-filter, 
   .tribe-bar-submit,
   .tribe-events-back,
   #tribe-events-header,
   #tribe-events-photo-events .type-tribe_events.tribe-events-photo-event{
	   	width: 100%!important;
	   	float: none!important;
	   	padding-right: 0;
   }
   
   .tribe-events-back{
   	text-align: center;
   }
   
 
 
   
   .tribe-events-event-image{
	   	float: none!important;
	   	margin-left: 0!important;
	   	max-width: 100%!important;
   }
   
   .tribe-events-event-image img{
   		width: 100%;
   }

   
  
   
}
 
 
 
 
  
   
/* ==========================================================================
   Gravity Forms
   ========================================================================== */   

@media only screen and (max-width: 768px) { 
	 .charleft.ginput_counter{
	 	float: none;
	 } 
 }    
  
  




  
/* ==========================================================================
   BBPress
   ========================================================================== */ 
    
@media only screen and (max-width: 768px) { 
  
  li.bbp-forum-info, li.bbp-topic-title {
      float: none;
      text-align: left;
      width: 100%;
  }
  
  .bbp-header .bbp-forum-info,
  li.bbp-forum-topic-count, 
  li.bbp-topic-voice-count, 
  li.bbp-forum-reply-count, 
  li.bbp-topic-reply-count,
  li.bbp-forum-freshness, 
  li.bbp-topic-freshness{
  	float: none;
  	display: inline-block;
  	width: auto;
  }
  
   .bbp-header .forum-titles li{
   	text-align: left;
   	float: left;
    margin-left: 15px!important;
    display: inline-block;
   }
  
  li.bbp-forum-freshness, 
  li.bbp-topic-freshness{
  	width: auto!important;
  }
  
  .bbp-topic-meta{
  	margin: 0!important;
  	display: inline!important;
  	width: auto!important;
  }
  
  #bbp-header{
  	display: none;
  }
  
}


