/* Tribe Bar Filter */
#tribe-bar-form{
	border-style: solid;
	border-width: 1px;
	border-left: none;
	border-right: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	padding: 0;
	margin-top: 1em;
	margin-bottom: 2em;
	position: relative;
}
.tribe-bar-filters-inner{
	width: calc(100% - 120px);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 1em 150px .5em 0;
	position: relative;
	border-right-style: solid;
	border-right-width: 1px;
}

/*
.tribe-bar-filters-inner div:first-child:nth-last-child(2),
.tribe-bar-filters-inner div:first-child:nth-last-child(2) ~ li {
  width: 48%;
  float: left;
}
*/

.tribe-bar-filters-inner{
	display: table;
}
.tribe-bar-filters-inner > div{
	display: table-cell;
	padding-right: 1em;
}
/*
.tribe-bar-date-filter, 
.tribe-bar-search-filter{
	width: 48%;
	float: left;
}
*/

#tribe-bar-views{
	padding-bottom: .5em;
	margin-bottom: .5em;
}

.tribe-bar-views-inner label{
	padding-right: 5px;
}

.tribe-bar-views-inner label:after{
	content: ":";
}
.tribe-bar-submit{
	position: absolute;
	right: 1em;
	top: 22px;
}

input[type="submit"].tribe-events-button.tribe-no-param{
	padding: .5em 0;
	width: 120px;
}

.tribe-bar-filters-inner input[type="text"]{
	background: none;
	border: none;
	border-top-style: solid;
	border-top-width: 1px;
	padding-left: 0;
	margin-top: .5em;
	margin-bottom: 0!important;
}

#tribe-bar-collapse-toggle{
	cursor: pointer;
	display: none;
}

.tribe-bar-views-select.tribe-no-param, .tribe-bar-views-list li:before, .tribe-events-sub-nav li:before{
	display: none;
}



.tribe-bar-views-option.tribe-bar-views-option-list a:before{
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "";
	padding-right: 3px;
	top: 10px;
}
.tribe-bar-views-list li.tribe-bar-views-option-month a:before{
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f073";
	padding-right: 3px;
}
.tribe-bar-views-option.tribe-bar-views-option-day a:before{
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "";
	padding-right: 3px;
	top: 10px;
}
.tribe-bar-views-option.tribe-bar-views-option-week a:before{
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "";
	padding-right: 3px;
	top: 10px;
}
.tribe-bar-views-option.tribe-bar-views-option-map a:before{
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "";
	padding-right: 3px;
	top: 10px;
}
.tribe-bar-views-option.tribe-bar-views-option-photo a:before{
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "";
	padding-right: 3px;
	top: 10px;
}
.tribe-bar-views-list li.tribe-bar-views-option-upcoming a:before{
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f0cb";
}

.tribe-bar-views-option a:before{
	min-width: 1rem;
	text-align: center;
}

#tribe-bar-views{
	position: absolute;
	right: 0;
	top: 1em;
	width: 100px;
}

#tribe-bar-views .tribe-bar-views-list{
	position: absolute;
	z-index: 9;
	padding: 1px;
	padding-top: 0;	
	border-top: none;
	margin-left: -10px;
	padding-bottom: 10px!important;
	-webkit-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
}

#tribe-bar-views .tribe-bar-views-list:hover{
	border-style: solid;
	border-width: 1px;
	padding: 0;
	border-top: none;	
}

ul.tribe-bar-views-list li{
	display: none;
	padding-left: 12px!important;
	padding-right: 20px;
	margin: 0!important;
	padding-bottom: 0!important;
	padding-top: 4px!important;
}

.tribe-bar-views-list:hover li,
.tribe-bar-views-list li.tribe-bar-active{
	display: block;
}


.canon-events .tribe-events-page-title {
	text-align: left;
	font-size: .75rem;

	padding-bottom: 15px;
	margin-top: -10px;
}

.tribe-events-list h2.tribe-events-page-title{
	display: inline-block;
}

h2.tribe-events-page-title:after{
	display: none;
}

.widget.sport_single_event .tribe-events-event-meta{
	margin-top: 0;
}



#tribe-events-footer{
	
}
#tribe-events-content.tribe-events-list{
	padding: 2px 0;
}
.main #tribe-events-content ul.tribe-events-sub-nav li, .main #tribe-events-content ul.tribe-events-sub-nav{
	padding: 0;
	margin: 0;
	text-align: right;
}
.tribe-events-list-separator-month{
	display: block; height: 1px; border: 0; border-top-style: solid; border-top-width: 1px; padding: 0; margin: 1em 0 2em; text-align: left;
}
.tribe-events-list-separator-month span{
	position: relative;
	top: -14px;
	display: inline-block;
	padding-left: 0em;
	padding-right: .5em;
	margin: 0;
	letter-spacing: 0;
	
}

.tribe-events-day .tribe-events-day-time-slot h5,
.tribe-events-list-separator-month span{
	font-size: .8rem;
	text-transform: uppercase;
}

.tribe-events-loop > div,
.tribe-events-mobile{
	border-bottom-style: solid;
	border-bottom-width: 1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	padding: .5em 0em 1.5em;
	margin-top: 0em;
	margin-bottom: 1em;
	position: relative;
}

.tribe-mobile-day-heading + .tribe-events-mobile{
	border-top-style: solid;
	border-top-width: 1px;
}

.tribe-events-loop > div + .tribe-events-list-separator-month{
	border: none;
	position: relative;
	top: -16px;
	margin-bottom: 0;
}

.tribe-mobile-day-heading{
	margin-top: 1em;
}

div.tribe-events-day-time-slot:first-child{
	padding: 0;
	margin: 0;	
}

.tribe-events-list .vevent.hentry.tribe-events-first{
	padding-top: 1em;
}
.tribe-events-list .vevent.hentry.tribe-event-end-month{
	padding-bottom: 1em;
}

.tribe-events-event-cost span{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.tribe-events-event-cost span:empty{
	display: none;
}

.tribe-events-loop > div .time-details{
	font-size: 16px;
}
.tribe-events-loop > div .tribe-events-venue-details{
	font-size: 16px;
}
.tribe-events-loop > div .tribe-events-gmap{
	padding-left: 10px;
}

.tribe-events-loop > div .tribe-events-list-event-description p:first-child{
	display: inline;
	margin-top: 0;
}

.tribe-events-read-more{
	border: none;
	font-weight: normal;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 14px;
	padding: .4em 1.2em;
	white-space: normal;
	text-align: center;
	display: table!important;
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
	margin-bottom: .5em;
	margin-top: .5em;
	text-decoration: none;
}

a.tribe-events-read-more{
	margin-top: 0;
}

/* Caledner */
.tribe-events-calendar .tribe-events-right .tribe-events-tooltip, .tribe-events-week .tribe-events-right .tribe-events-tooltip, .recurring-info-tooltip{
	padding: .5em;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.tribe-events-tooltip p.entry-summary, .tribe-events-tooltip .tribe-events-event-body{
	font-size: 14px;
}
.tribe-events-tooltip h4{
	text-transform: uppercase;
}
.tribe-events-tooltip .tribe-events-event-thumb{
	padding-right: 1em;
	padding-bottom: 0;
}
.events-archive.events-gridview #tribe-events-content table .vevent{
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
.events-archive.events-gridview #tribe-events-content table .tribe-events-last{
	border-bottom: none;
}



/* Notices */
.tribe-events-notices li:before{
	display: none;
}



/* Events Page */

.single-tribe_events .main #tribe-events-content ul.tribe-events-sub-nav li, .single-tribe_events .main #tribe-events-content ul.tribe-events-sub-nav{
	text-align: center;
	width: auto;
}
.single-tribe_events .main #tribe-events-footer ul.tribe-events-sub-nav, .single-tribe_events .main #tribe-events-footer .main #tribe-events-content ul.tribe-events-sub-nav li{
	text-align: right;
}
.single-tribe_events .tribe-events-sub-nav li a{
	white-space: nowrap;
}


.tribe-events-single-section.tribe-events-event-meta.primary +
.tribe-events-single-section.tribe-events-event-meta.secondary {
	padding-top: 0;
}


.single-tribe_events .tribe-events-meta-group, .single-tribe_events .tribe-events-venue-map{
	float: left;
	width: 48%;
	margin-right: 2%;
}
.single-tribe_events .tribe-events-venue-map{
	margin-top: 1.5em;
}
.single-tribe_events .tribe-events-venue-map > div{
	max-height: 200px;
}
.single-tribe_events  .tribe-events-meta-group-organizer, .single-tribe_events .tribe-events-venue-map{
	margin-right: 0;
}
.single-tribe_events #tribe-events-footer{
	padding-top: 1em;
}
.tribe-events-single-section.tribe-events-event-meta {
	clear: both;
}
.tribe-events-calendar .tribe-events-tooltip, .tribe-events-week .tribe-events-tooltip, .recurring-info-tooltip{
	background: #fff;
	padding-top: 1em;
}
.tribe-events-tooltip .tribe-events-event-thumb{
	width: 50%;
	float: left;
	margin-top: .75em;
}
.tribe-events-tooltip .tribe-events-arrow {
	width: 18px;
	height: 11px;
	background-image: url(../img/tribe-tooltips.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	-webkit-background-size: 44px 19px;
    		background-size: 44px 19px;
	display: block;
	position: absolute;
	bottom: -11px;
	left: 20px;
}


.tribe-events-month-event-title:after{
	display: none;
}

.tribe-events-calendar .tribe-events-tooltip .entry-title{
	margin-top: 1em;
}

h2.tribe-events-page-title {
    position: relative;
    text-align: left;
    z-index: 0;
}

input.tribe-events-button.tribe-no-param[type="submit"]{
	text-align: center;
	margin-top: 12px;
}

.tribe-events-calendar div[id*="tribe-events-daynum-"], .tribe-events-calendar div[id*="tribe-events-daynum-"] a{
	font-weight: normal;
	font-size: .7rem;
}

.events-archive.events-gridview #tribe-events-content table .type-tribe_events{
	padding-left: 0;
	padding-right: 0;
}

#tribe-events-content .tribe-events-calendar div[id*="tribe-events-event-"] h3.entry-title{
	font-size: .7rem;
}

#tribe-events-content .tribe-events-tooltip h4.entry-title{
	font-size: 1rem;
	font-weight: normal;
	letter-spacing: 0;
}

.tribe-events-tooltip p.entry-summary, .tribe-events-tooltip .tribe-events-event-body{
	font-size: .9rem;
}

.tribe-events-tooltip .duration{
	font-style: normal;
	font-weight: normal;
	font-size: .75rem;
}

.tribe-events-tooltip .tribe-events-event-thumb{
	max-width: 75px;
}

.tribe-events-ical,
.tribe-events-gcal {
	float: right;
	font-size: .7rem;
	
}

.tribe-events-gcal{
	padding-left: 10px;
}


.tribe-events-read-more,
.tribe-events-cal-links a{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	padding: 0.5em .85em;
	white-space: normal;
	text-align: left;
	display: inline-block;
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
	margin-bottom: .5em;
	margin-top: 1em;
	text-decoration: none;
	background: none;
	border-style: solid;
	border-width: 2px;
	line-height: 1;
	background: none;
	font-size: 1rem;
}

.tribe-events-cal-links a {
	margin-right: .25em;
	font-size: .85rem;
}

.tribe-events-venue-details br{
	display: none;
}

.tribe-events-meta-group dd{
	margin: 0;
}

.tribe-events-event-meta dt{
	font-weight: normal;
}

#tribe-events-bar #tribe-bar-form{
	margin-bottom: 1.5em;
}

.tribe-events-day .tribe-events-day-time-slot .type-tribe_events{
	margin-left: 0;
}



/* Event List Widget */
.tribe-events-list-widget ol{
	margin: 0!important;
}
.tribe-events-list-widget ol li:before{
	content: "";
	font-family: 'FontAwesome'!important;
	font-size: 12px;
	left: 0px;
	top: 6px;
	position: absolute;
	text-transform: lowercase;
}
.tribe-events-list-widget ol li{
	padding-left: 18px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding-top: 5px;
	padding-bottom: 10px;
}
.tribe-events-list-widget ol li h4{
	font-size: 1rem;
	margin-top: 0;
	margin-bottom: 0;
}
.tribe-events-list-widget ol li .duration{
	font-size: .65rem;
}

p.tribe-events-widget-link a{
	margin-top: 0!important;
}






/* Tribe Page */
body.single.single-tribe_events .main.wrapper{
	padding-top: 0;
}



/* Tribe Header */
.tribe-events-back{
	margin: 0;
	float: left;
}

.main-container .tribe-events-venue .tribe-events-back{
	float: none;
}

#tribe-events-header{
	float: right;
}

.tribe-events-week #tribe-events-header{
	float: none;
}

.single-tribe_events #tribe-events-header, 
.tribe-events-map #tribe-events-header{
	margin: 0;
}

.tribe-events-crumbs{
	font-size: .85rem;
	position: relative;
	padding: .5em 0px;
}

.tribe-events-crumbs .fa.fa-calendar{
	font-size: .8rem;
	position: relative;
	top: -2px;
}

.tribe-events-crumbs > *{
	padding: .5em 0px;
}

.tribe-single-event-nav{
	margin-bottom: 2.5em;
}

.tribe-single-event-nav:after{
	content: "";
	display: block;
	width: 100%;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

.tribe-single-event-nav .wrapper{
	padding-top: 0;
	padding-bottom: 0;
}

.tribe-events-sub-nav li + li{
	border: none;
	margin-left: .75em!important;
}

.single-tribe_events #tribe-events-header li{
	width: auto;
}

.tribe-events-sub-nav li:empty{
	display: none!important;
}

#tribe-events-footer .tribe-events-sub-nav li, 
#tribe-events-header .tribe-events-sub-nav li{
	display: inline;
}

#tribe-events-content .coms,
#tribe-events-footer{
	clear: both;
}





/* tribe-single-event-main */
.tribe-single-event-main{
	float: right;
	width: 65%;
	margin-bottom: 1em;
}

.single-tribe_events .tribe-events-event-image{
	float: none;
	margin-right: 0em;
	margin-top: 0em;
	margin-bottom: 0;
}



/* tribe-single-event-info */
.tribe-single-event-info{
	float: left;
	width: 30%;
	border-style: solid;
	border-width: 1px;
	padding: 0px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 2em;
}

.single-tribe_events .tribe-events-schedule .tribe-events-divider{
 	display: none;
 }

.single-tribe_events .tribe-events-meta-group, 
.single-tribe_events .tribe-events-venue-map{
	float: none!important;
	width: 100%;
	clear: left;
	font-size: .85rem;
}


.single-tribe_events .tribe-single-event-info .tribe-events-schedule{
	padding: 20px 20px 15px;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-top-width: 0px;
	text-align: center;
}

.single-tribe_events .tribe-events-schedule h3:after{
	display: none;
}

.single-tribe_events .tribe-events-schedule h2{
	margin: 0;
	display: block;	
	font-size: 1.25rem;
}

.single-tribe_events .tribe-events-schedule h1{
	line-height: 1.1;
	margin-top: 10px;
	margin-bottom: 10px;
}

.single-tribe_events .tribe-events-schedule h1:after{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 10px;
}

.single-tribe_events .tribe-events-schedule .tribe-events-cost {
    font-size: 1.5rem;
    margin-right: 0;
	/*    border-top-style: solid;
    border-top-width: 1px;  */
    display: block;
    margin-top: 10px;
    padding-top: 10px;
}

.single-tribe_events .tribe-events-schedule .tribe-events-cost:before{
	content: "";
	font-family: fontAwesome;
	padding-right: .2em;
}

.single-tribe_events .tribe-single-event-info  .tribe-events-event-meta{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 20px;
	margin: 0;
}

.tribe-single-event-info .tribe-events-single-section-title{
	border-bottom-style: solid;
	border-bottom-width: 1px;
	margin-bottom: 0;
	padding-bottom: .5em;
	margin-top: 0;
}

.tribe-single-event-info .tribe-events-meta-group.tribe-events-meta-group-details{
	margin-bottom: 1.5em;	
}

.tribe-single-event-info .tribe-events-meta-group.tribe-events-meta-group-details dl,
.tribe-single-event-info  .tribe-events-meta-group.tribe-events-meta-group-venue dl,
.tribe-single-event-info .tribe-events-meta-group.tribe-events-meta-group-organizer dl{
	display: table;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	width: 100%;
}


.tribe-single-event-info .tribe-events-meta-group dd{
	text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
}

.tribe-single-event-info .tribe-events-meta-group dd.tribe-venue-location{
	word-break: normal;
}


.tribe-single-event-info dl dt:nth-child(1),
.tribe-single-event-info dl dd:nth-child(2){
	border-top: none!important;
}

.tribe-single-event-info .tribe-events-meta-group.tribe-events-meta-group-details dl dt,
.tribe-single-event-info .tribe-events-meta-group.tribe-events-meta-group-details dl dd,
.tribe-single-event-info  .tribe-events-meta-group.tribe-events-meta-group-venue dl dt,
.tribe-single-event-info  .tribe-events-meta-group.tribe-events-meta-group-venue dl dd,
.tribe-single-event-info .tribe-events-meta-group.tribe-events-meta-group-organizer dl dt,
.tribe-single-event-info .tribe-events-meta-group.tribe-events-meta-group-organizer dl dd{
	width: 35%;
	float: left;
	border-top-style: solid;
	border-top-width: 1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-bottom: .35em;
	padding-top: .35em;
}

.tribe-single-event-info .tribe-events-meta-group.tribe-events-meta-group-details dl dd,
.tribe-single-event-info  .tribe-events-meta-group.tribe-events-meta-group-venue dl dd,
.tribe-single-event-info .tribe-events-meta-group.tribe-events-meta-group-organizer dl dd{
	width: 65%;
}

.tribe-single-event-info .tribe-events-meta-group.tribe-events-meta-group-details dl dd.tribe-event-tags + dt{
	display: none;
}

.tribe-single-event-info .tribe-events-meta-group.tribe-events-meta-group-details dl dd.tribe-event-tags + dt + dd,
.tribe-single-event-info .tribe-events-meta-group.tribe-events-meta-group-organizer .tribe-organizer{
	border-left: none;
	border-top-style: solid;
	border-top-width: 1px;
	width: 100%;
	text-align: left;
}

.tribe-single-event-info .tribe-events-meta-group.tribe-events-meta-group-organizer .tribe-organizer{
	border-top: none;
}

.tribe-single-event-info .tribe-events-meta-group.tribe-events-meta-group-venue dl dd:nth-child(1),
.tribe-single-event-info .tribe-events-meta-group.tribe-events-meta-group-venue dl dd:nth-child(2){
	border: none;
	float: none;
	width: 100%;
}

.tribe-single-event-info .tribe-events-meta-group.tribe-events-meta-group-venue dl dd.tribe-venue{
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

.tribe-single-event-info .tribe-events-meta-group.tribe-events-meta-group-details dl dt,
.tribe-single-event-info  .tribe-events-meta-group.tribe-events-meta-group-venue dl dt,
.tribe-single-event-info .tribe-events-meta-group.tribe-events-meta-group-organizer dl dt{
	border-right-style: solid;
	border-right-width: 1px;
	
}

.tribe-single-event-info .tribe-events-meta-group.tribe-events-meta-group-details dl dd,
.tribe-single-event-info  .tribe-events-meta-group.tribe-events-meta-group-venue dl dd,
.tribe-single-event-info .tribe-events-meta-group.tribe-events-meta-group-organizer dl dd{
	padding-left: .25em;
	border-left-style: solid;
	border-left-width: 1px;
	margin-left: -1px;
}

.tribe-events-single-section-title:after,
.tribe-events-list-meta-title:after{
	font-family: FontAwesome;
	padding-left: 5px;
	font-size: 1rem;
}

.tribe-events-meta-group-details .tribe-events-single-section-title:after,
.tribe-events-list-meta-title.tri-details:after{
	content: "";
}

.tribe-events-meta-group-venue .tribe-events-single-section-title:after,
.tribe-events-list-meta-title.tri-venue:after{
	content: "";
}

.tribe-events-meta-group-organizer .tribe-events-single-section-title:after{
	content: "";
	padding-left: 8px;
}

.tribe-events-list-meta-title{
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding-bottom: .5em;
	margin-top: 0;
}

.tribe-single-event-info  .tribe-events-meta-group.tribe-events-meta-group-venue .tribe-events-address br{
	display: none;
}

.tribe-single-event-info  .tribe-events-meta-group.tribe-events-meta-group-venue .tribe-events-address .tribe-events-gmap{
	text-decoration: underline;
}

.tribe-single-event-info .tribe-events-meta-group.tribe-events-meta-group-venue{
	margin-bottom: 2em;
}

#tribe-events-content .tribe-events-abbr{
	text-decoration: none;
	display: inline;
}

.tribe-events-after-html,
#tribe-events-content .coms{
	border-top-style: solid;
	border-top-width: 1px;
}

.tribe-events-before-html{
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

#tribe-events-content .coms{
	padding-top: 2em;	
}

.tribe-events-after-html:empty,
.tribe-events-before-html:empty,
#tribe-events-content .coms:empty{
	display: none;
}  

.tribe-events-event-meta,
.tribe-events-event-cost,
.tribe-event-schedule-details{
	font-size: .85rem;
}

.tribe-events-event-cost{
	display: inline-block;
	float: right;
}

.tribe-event-schedule-details{
	width: 70%;
	float: left;
}

.tribe-events-event-meta.clearfix{
	padding-top: .75em;
}

.tribe-events-event-meta address.tribe-events-address{
	font-style: normal;
	line-height: 1.5;
}


/* List with sidebar */
.main-content.three-fourths .tribe-events-loop .fourth.first-fourth{
	width: 30%;
	margin-right: 4%;
	float: left;
	clear: none;
}

.main-content.three-fourths .tribe-events-loop .fourth.first-fourth + .fourth{
	margin-right: 0;
	width: 66%;
	float: left;
	clear: none;
}

.main-content.three-fourths .tribe-events-loop .fourth.first-fourth a.tribe-events-read-more{
	display: none!important;
}
.main-content .tribe-events-loop .fourth + .fourth a.tribe-events-read-more{
	display: none!important;
}

.tribe-events-loop .half a.tribe-events-read-more,
.tribe-events-loop .three-fourths a.tribe-events-read-more{
	display: inline-block!important;
	margin-top: 1.5em;
}

.main-content.three-fourths .tribe-events-loop .half,
.main-content.three-fourths .tribe-events-loop .fourth + .three-fourths,
.main-content.three-fourths .tribe-events-loop .fourth {
	width: 100%;
	float: none;
	clear: both;
}



.single-tribe_events .tribe-events-cal-links{
	display: none;
}



/* Ticket Section */
.tribe-single-event-ticket-section{
	border-top-style: solid;
	border-top-width: 1px;
	padding-top: 1.5em;
}

.tribe-single-event-ticket-section .woocommerce ul.products > li.product,
.tribe-single-event-ticket-section p.product.woocommerce.add_to_cart_inline {
	width: 100%!important;
	margin-right: 2%!important;
	border-style: dashed!important;
	border-width: 2px!important;
	box-shadow: none!important;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
	padding: 10px 10px 10px 140px !important;
	position: relative!important;
}

.tribe-single-event-ticket-section p.product.woocommerce.add_to_cart_inline{
	padding: 10px!important;
}

.tribe-single-event-ticket-section p.product.woocommerce.add_to_cart_inline{
	display: block;
	float: left;
}

.tribe-single-event-ticket-section ul.products > li:nth-child(even),
.tribe-single-event-ticket-section p.product.woocommerce.add_to_cart_inline:nth-child(2n+1){
	margin-right: 0!important;
}

.tribe-single-event-ticket-section .woocommerce ul.products li.product a img.wp-post-image {
	max-width: 100px;
	float: left;
	margin-left: -130px!important;
	left: 10px;
	top: 10px;
	margin-bottom: 20px!important;
}

/*
.tribe-single-event-ticket-section ul.products > li img,
.tribe-single-event-ticket-section ul.products > li img.woocommerce-placeholder{
	display: none!important;
}


.tribe-single-event-ticket-section ul.products > li a:first-child:before,
.tribe-single-event-ticket-section .product.woocommerce.add_to_cart_inline span:first-child.amount:before{
	content: "";
	font-family: "FontAwesome";
	float: right;
	margin-top: .5em;
	margin-right: 1em;
	margin-left: 1em;
}
*/


.tribe-single-event-ticket-section .woocommerce  ul.products > li.product span.price{
	float: none;
	text-align: left;
	padding-left: 0!important;
	margin: 0!important;
	padding-top: 5px;
	display: block;
}

.tribe-single-event-ticket-section .woocommerce  ul.products > li.product span.price:before,
.tribe-single-event-ticket-section .product.woocommerce.add_to_cart_inline .amount:before{
	content: "";
	font-family: "FontAwesome";
	margin-right: .5em!important;
	margin-left: 0em;
}

.tribe-single-event-ticket-section .product.woocommerce.add_to_cart_inline .amount{
	position: relative;
	top: 3px;	
}

.tribe-single-event-ticket-section ul.products > li .price span{
	padding-left: 0!important;
}

.tribe-single-event-ticket-section ul.products{
	margin-bottom: 0!important;
}

.tribe-single-event-ticket-section .woocommerce ul.products li.product a h3,
.tribe-single-event-ticket-section ul.products > li span{
	margin-left: 0!important;
	margin-right: 0!important;
}

.tribe-single-event-ticket-section ul.products > li a{
	clear: none!important;
}

.tribe-single-event-ticket-section .woocommerce ul.products > li.product a.add_to_cart_button,
.tribe-single-event-ticket-section .product.woocommerce.add_to_cart_inline a.add_to_cart_button {
	float: left;
	clear: none;
	margin-top: 10px!important;
	font-size: .8rem;
	margin-left: 0px!important;
}

.tribe-single-event-ticket-section .product.woocommerce.add_to_cart_inline a.button.add_to_cart_button{
	float: right;
	margin: 0!important;
}

.tribe-single-event-ticket-section .product.woocommerce.add_to_cart_inline a.add_to_cart_button{
	margin-top: 1em!important;
}

.tribe-single-event-ticket-section ul.products > li a.added_to_cart{
	position: relative;
	top: 5px;
}

.tribe-single-event-ticket-section .woocommerce ul.products li.product .onsale, 
.tribe-single-event-ticket-section .woocommerce-page ul.products li.product .onsale{
	border-radius: 0!important;
	padding: 2px!important;
	min-height: 12px;
	line-height: 12px;
	left: calc(100% - 42px);
	top: -2px;
	font-size: .6rem;
	min-width: 40px;
}





/* Pro Support */
.tribe-events-user-recurrence-toggle{
	display: block;
}

.tribe-grid-header .column{
	font-size: .7rem;
	letter-spacing: 0;
}

.tribe-grid-allday .column.first, 
.tribe-week-grid-hours div{
	font-weight: normal!important;
}

.tribe-events-grid .type-tribe_events h3.entry-title,
.tribe-events-month-event-title{
	font-size: .9rem;
}

#tribe-geo-map-wrapper{
	border-style: solid;
	border-width: 1px;
	padding: 10px;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
}

#tribe-geo-options h2, #tribe-geo-results h2{
	font-weight: normal!important;
	font-size: 2.5rem!important;
	
}

.tribe-events-map .tribe-events-loop > div{
	position: relative;
}

.tribe-events-map .tribe-events-event-image{
	position: absolute;
	max-width: 22%;
	left: 0;
	top: 4.75em;
}

.tribe-events-map .tribe-events-loop > div:first-child .tribe-events-event-image{
	top: 4.15em;
}

.tribe-events-map .tribe-events-list .time-details{
	margin-bottom: 0;
}

.tribe-events-map .tribe-events-event-meta * {
	font-size: .9rem;
}

.tribe-events-map .tribe-events-event-meta{
	margin-top: 1em;
}

.tribe-events-map .tribe-events-event-meta,
.tribe-events-map .tribe-events-map-event-description{
	padding-left: 25%!important;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
}

.tribe-events-list .tribe-events-photo-event .tribe-events-event-image img{
	max-width: 100%;
	width: 100%;
	margin-bottom: 0;
}

.tribe-events-list .tribe-events-photo-event .tribe-events-event-image + .tribe-events-event-details{
	padding-top: 0!important;
}

.tribe-events-photo-event .tribe-event-schedule-details{
	width: 100%;
	float: none;
}

.tribe-events-photo-event .tribe-events-event-meta{
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding-bottom: .5em;
}

.tribe-events-list-photo-description.tribe-events-content p:first-child{
	margin-top: .5em;
}


/* Widgets Styling */
.tribe-mini-calendar-nav{
	border-left: none;
	border-right: none;
}

.tribe-mini-calendar td, .tribe-mini-calendar th{
	padding: 0!important;
}

.tribe-mini-calendar-nav span{
	margin: 0;
}

.tribe-mini-calendar-nav-link.prev-month{
	float: left;
}

.tribe-mini-calendar-nav-link.next-month{
	float: right;
}

#tribe-mini-calendar-month-0{
	padding: 5px;	
}

.tribe-countdown-text,
.tribe-venue-widget-venue-name{
	font-size: 2.5rem;
}

.widget ul.tribe-venue-widget-list li{
	line-height: 1;
	padding-bottom: 10px!important;
	padding-top: 10px!important;
}

ul.tribe-venue-widget-list li > span,
.widget .tribe-mini-calendar-event .tribe-events-event-cost{
	font-size: .8rem;
	float: none;	
}

ul.tribe-venue-widget-list li h4{
	margin-bottom: 0;
	margin-top: 0;
}

.widget .tribe-mini-calendar-event{
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding-bottom: 1em;
	margin-bottom: 1em;
}

.widget .tribe-mini-calendar-event .list-date{
	float: none;
	text-align: right;
	font-size: .7rem;
	display: none;
}

.widget .tribe-mini-calendar-event .list-date:before{
	content: "";
	font-family: FontAwesome;
}

.widget .tribe-mini-calendar-event .tribe-events-title{
	margin-top: 5px;
}

.widget .tribe-mini-calendar-event .tribe-events-duration{
	font-size: .8rem;
	display: inline;
}

.widget .tribe-mini-calendar-event .tribe-events-location{
	font-size: .8rem;
}

.tribe-this-week-events-widget h2{
	font-size: .85rem;
	margin-top: 10px;
	text-align: left;
}

.tribe-this-week-events-widget .tribe-events-sub-nav{
	display: block;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	margin-top: .5em;
	margin-bottom: .5em;
	text-align: left;
}

.tribe-this-week-events-widget .tribe-events-sub-nav:after,
.tribe-this-week-events-widget .tribe-events-sub-nav:before{
	content: "";
	display: table;
}

.tribe-this-week-events-widget .tribe-events-sub-nav li{
	display: inline-block;
	margin: 0!important;
	padding: 0!important;
	border: none!important;
	float: left;
}

.tribe-this-week-events-widget .tribe-events-sub-nav li.tribe-this-week-nav-link.nav-next{
	float: right;
}

.tribe-this-week-events-widget .this-week-no-events-msg{
	font-size: 0;
	opacity: 0;
}

.tribe-this-week-events-widget .this-week-no-events-msg:before{
	content: "";
	font-family: "FontAwesome";
	display: block;
	font-size: 1rem;
	position: absolute;
	top: 0;
	right: 0;
	font-size: .8rem;
	opacity: 1;
}

.tribe-this-week-events-widget .tribe-this-week-widget-header-date{
	text-align: left;
	padding-top: 2px;
	padding-bottom: 2px;
}

.tribe-this-week-events-widget .tribe-this-week-widget-header-date .date{
	font-size: .65rem;
}

.tribe-this-week-events-widget  .tribe-this-week-widget-day{
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	position: relative;
}

.tribe-this-week-events-widget .tribe-this-week-widget-day-wrap h2{
	font-size: 1.75rem;
	margin-bottom: 5px;
}

.tribe-this-week-events-widget .tribe-this-week-widget-day-wrap .duration,
.tribe-this-week-events-widget .tribe-this-week-widget-day-wrap .duration + div{
	font-size: .9rem;
	display: inline;
}

.tribe-this-week-events-widget .tribe-this-week-widget-day-wrap .type-tribe_events{
	margin-bottom: 1em;
}

#tribe-events-content{
	margin-bottom: 0;
}

.post-type-archive-tribe_events .wrapper{
     padding-top: 20px;  
     padding-bottom: 0px;
}



/* Event Tickets Styles */

form table.tribe-events-tickets {
	border-style: solid!important;
	border-width: 1px!important;
	margin-bottom: 40px;
}

form table.tribe-events-tickets tr{
	background: none!important;
}

form table.tribe-events-tickets tr.tribe-tickets-meta-row table,
form table.tribe-events-tickets tr.tribe-tickets-meta-row table td{
	border: none!important;
}

form table.tribe-events-tickets tr.tribe-tickets-meta-row,
form table.tribe-events-tickets tr.tribe-tickets-meta-row td.tribe-tickets-attendees{
	border-bottom-width: 0!important;
}

form table.tribe-events-tickets tr.tribe-tickets-meta-row + tr,
form table.tribe-events-tickets tr.tribe-tickets-meta-row + tr td{
	border-top: none!important;
}

form table.tribe-events-tickets tr.tribe-tickets-meta-row + tr td .button{
	margin-left: 5px;
	margin-bottom: 15px;
	margin-top: -5px;
}

form table.tribe-events-tickets tr.tribe-tickets-meta-row header{
	font-size: 1.25rem;
	margin-bottom: 15px;
	margin-top: 15px;
	margin-left: 5px;
}

form table.tribe-events-tickets tr.tribe-tickets-meta-row td.tribe-tickets-attendees table td{
	display: block!important;
	padding-top: 0!important;
	padding-bottom: 0px;
}


form table.tribe-events-tickets .tribe-tickets-remaining{
	font-size: .7rem;
	line-height: 1.2;
	display: block;
}

form table.tribe-events-tickets td.quantity{
	width: 20%;
} 

form table.tribe-events-tickets td.tickets_name{
	width: 20%;
}

.tribe-rsvp-message{
	margin-bottom: 10px;
}
